<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/index.css' %}">
</head>
<body>
    <div class="abc">
        <a href="/some/id">ADMIN</a><br><br><br><br>
        <a href="/some/idsf">STAFF</a><br><br><br><br>
        <a href="/some/ids">STUDENT</a><br><br><br><br>
        <a href="/some/idp">PARENT</a><br><br><br><br>
        <a href="/some/rg">REGISTER</a><br><br><br>
    </div>
</body>
</html>