<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARENT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/parent.css' %}">
</head>
<body>
   <div class="menu-bar">
    <ul>
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#">View</a>
        </li>
        <li><a href="#">Query</a>
        </li>
        <li><a href="#">Notification</select></a>
        </li>
        <li><a href="/some/idp">Back</a></li>
    </ul>
    </div>  
</body>
</html>