
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADMIN LOGIN</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/ok.css' %}">
    
</head>
<body>
    <div class="abc">
        <h1>ADMIN LOGIN</h1><br><br>
        <form name="myform" method="post">
            <label for="uname">User name</label>
            <input type="email" id="email" name="email" placeholder="Please enter username" style="height: 30px; width:150px" required><br><br>
            <label for="pwd" >Password</label>
            <input type="password" id="password" name="password" placeholder="Please enter passward" style="height: 30px; width:150px" required><br><br>
            <input type="button" name="log" id="logbutton" value="login" style="height: 30px; width: 110px;" onclick="myfunction()"></button><br><br>
            <a href="/some">Home</a>
        </form>
    </div>
</body>
</html>