<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAFF</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'S2/staff.css' %}">
</head>
<body>
   <div class="menu-bar">
    <ul>
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="/some/per_info/">Personal info</a>
        </li>
        <li><a href="#">Mark Entry</a>
        </li>
        <li><a href="#">Attendance Entry</a>
        </li>
        <li><a href="#">ECCC</a>
        </li>
        <li><a href="/some/sachiev">Students Achivement</a>
        </li>
        <li><a href="#">Application  Acceptance</a>
        </li>
        <li><a href="#">Notification </a>
        </li>
        <li><a href="/some/idsf">Logout</a></li>
    </ul>
    </div>  
</html>